extend ./main

block content
    if work
        h1= work.title
        
        for img in work.images
            .art-thumb
                a(href=`/img/originals/works/${work.imageRootSrc}/${img.src}`)
                    img(src=`/img/thumbs/works/${work.imageRootSrc}/${img.src}` alt=`${img.title}, ${img.description}`)
                .art-caption #[i=img.title], #{img.description}
    else
        h1 Error! Missing work data object
